VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://ieaknpggvxsvqewolufs.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_qOJbft2ghC1JAr-0PlMwHA_Au6QJdix
NEXT_PUBLIC_SUPABASE_URL=https://ieaknpggvxsvqewolufs.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qOJbft2ghC1JAr-0PlMwHA_Au6QJdix
